body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #36d627;
    color: #696666;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    border-radius: 6px;
}

nav {
    background-color: #ffa928;
    color: #696666;
    padding: 1em;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    border-radius: 6px;
}

aside {
    float: right;
    padding: 1em;
    background-color: #b66100;
    color: #696666;
    text-align: center;
    width: 30%;
    border-radius: 6px;
    height: 80vh;    
}

section {
    width: 65%;
    padding: 1em;
    color: #696666;
    background-color: #ff0f0f;
    border-radius: 6px;
    text-align: center;
    position: relative;
    margin-top: 4%;
    height: 80vh;
}

section header,
section article,
section footer {
    background-color: #2600ff;
    color: #696666;
    padding: 1em;
    text-align: center;
    position: relative;
    width: calc(100% - 2em);
    height: calc(35% - 2em);
    margin: 1em auto;
    border-radius: 6px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #696666;
    padding: 1em;
    border-radius: 6px;
    text-align: center;
    position: relative;
    margin-top: 3px;
}